<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com">
	
<head>
	<title>Pesquisa de Cervejas</title>
	
	
</head>

<body>
	<section layout:fragment="conteudo"> <!--  essa é a parte que irei preencher o html padrão -->
	
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
					
						<h1>Pesquisa de Cervejas</h1>
					</div>
					<div class="col-sm-2">
					 	<div class="aw-page-header-controls">
					 		<a class= "btn btn-default" th:href="@{cervejas/novo}"> <!-- aqui coloco o botao voltar a tela de cadastro -->
					 			<i class="glyphicon glyphicon-plus-sing"></i> <span class= "hidden-xs hidden-sm">Nova cerveja</span> <!-- nome do botão voltar -->
					 	 	</a>
					 	</div>				
					</div>
				</div>
			</div>
		</div>
	
		<div class="container-fluid">
			<form method="GET" th:object="${cervejaFilter}">  <!-- objeto do filter para capturar os atributos das pesquisas -->
			
				<div class="row">
					<div class="col-sm-3  form-group"> 
						<label for="sku" class="control-label">SKU</label>										
						<input id="sku" type="text" class="form-control"  th:field="*{sku}"/> <!-- th:field faz o bind do objeto do controller e da view -->
																														
																														
					</div>																							
					
					<div class="col-sm-9 form-group">
						<label for="nome"  class="control-label">Nome</label>
						<input id="nome" type="text" class="form-control"  th:field="*{nome}"/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6  form-group">
						<label for="estilo"  class="control-label">Estilo</label>
								<select id="estilo" class="form-control"   th:field="*{estilo}">
									<option value="">Selecione o estilo</option>
									<option value="">Todos os estilos</option>
									<option th:each="estilo : ${estilos}" th:value="${estilo.codigo}" th:text="${estilo.nome}" ></option>  <!-- th:text é o que ira aparecer na combo e o th:valeu é o valor que sera enviado para a variavel *{estilo} la do model-->
								</select>																   
					</div>
					
					<div class="col-sm-6  form-group ">
						<label for="sabor"  class="control-label">Sabor</label>
						<select id="sabor" class="form-control"  th:field="*{sabor}">
							<option value="">Selecione o sabor</option>
							<option value="">Todos os sabores</option>
							<option th:each="sabor : ${sabores}" th:value="${sabor}" th:text="${sabor.descricao}" ></option> <!-- nesse caso pego a variavel sabores la do controler e percorro seus valores polo for para apresentar eles la ma view -->
							
							
						</select>
					</div>
			 </div>
			
			<div class="row">
				<div class=" col-sm-6  form-group ">
						<label class="control-label">Origem</label>
						<div>
							 <th:block th:each="origem : ${origens} "> <!-- essa tag permite interar a variavel estilos para ser usada dentro do bloco da div  -->
								<div class="radio  radio-inline">
									<input th:id="|id_${origem}|" type="radio" th:value="${origem}" name="origem"  th:field="*{origem}"> <!--  o | serve para concatenar o valor id com origem -->
									<label th:for="|id_${origem}|" th:text="${origem.descricao}" ></label>
								</div>													
							 </th:block>
							 <div class="radio radio-inline">
							 	<input id="todasOrigens" type="radio" th:checked="*{origem} ==null" name="origem"  /> <!-- se a origem é null não preciso de input logicamente -->
							 	<label for="todasOrigens">Todas</label>
							 
							 </div>
							 
						</div>
					</div>
			
				<div class="col-sm-6  form-group ">
						<label for="valorDe" >Preço Unitário</label>
						<div class="form-inline">
							<input type="text" class="form-control aw-form-control-inline-sm" id="valorDe"  th:field="*{valorDe}"/>
							<label for="valorAte" class=" aw-form-label-between">até</label>
							<input type="text" class="form-control aw-form-control-inline-sm" id="valorAte" th:field="*{valorAte}"/>
						</div>
				</div>
			
			
			</div>
			<button type="submit" class="btn btn-primary">Pesquisar</button>			
		</form>
		
	
			<div class="table-responsive bw-tabela-simples">  <!--  transformo a tabela em responsiva, tabela-simples é o css da tabela -->
	 		<table class="table table-hover" >         <!--  hover ao passar o mouse em cima fica realçada -->
				<thead> <!-- cabeçalho da tabela -->
					<tr>   <!--  linha -->
						<th class="table-cervejas-col-foto"></th>   <!-- css que chamo pra cada uma das linhas e nome das colunas -->
						<th class="table-cervejas-col-sku">SKU</th>
						<th class="table-cervejas-col-nome">Nome</th>
						<th class="table-cervejas-col-estilo">Estilo</th>
						<th class="table-cervejas-col-origem">Origem</th>
						<th class="table-cervejas-col-valor">Valor</th>
						<th class="table-cervejas-col-acoes"></th>
						
						
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="cerveja:${cervejas}">  <!--  aqui vou repetir o todas a linhas e todas a cervejas que eu tiver --> 
																<!--  a variavel cervejas defini la no controler pegando as cervejas do repository e aqui criei a variavel cerveja
																	aqui so entra as cervejas que passaram pelo filtro da criteria-->
						<td class="text-center"><!-- conteudo da linha -->
							<img src="/C:/Users/daniele.ferreira/Desktop/c1.jpg" class="img-resposive">
						</td>											
						<td class="text-center" th:text= "${cerveja.sku}"></td>
						<td th:text= "${cerveja.nome}"></td>
						<td th:text= "${cerveja.estilo.nome}"></td>
						<td th:text= "${cerveja.origem.descricao}"></td>
						<td class="text-right" th:text= "|R$ ${cerveja.valor}|"></td>  <!-- o | concatena o R$ com o valor que trago do repository -->
						<td class="text-center">
							<a class="btn btn-link btn-xs " title="Editar"> <!-- titulo ao passar o mouse por cima -->
								<i class="glyphicon glyphicon-pencil"></i> <!-- icone -->
							</a>
							<a class="btn btn-link btn-xs " title="Excluir"> <!-- titulo ao passar o mouse por cima -->
								<i class="glyphicon glyphicon-remove"></i> <!-- icone -->
							</a>
						
						</td> 					
					</tr>
					<!-- <tr th:if="${#lists.empty(cervejas)}">
						<td colspan="7">Nenhuma cerveja encontrada</td>   quando o banco estiver vazio
					
					</tr> -->
				</tbody>
			
			</table>
		</div>	<!-- div da tabela !  -->	
		
		 <div class="col-sm-12 text-center">
		 	<nav>
		 		<ul class="pagination pagination-sm">
		 			<li class="disabled">
		 				<a href="#"><span>&laquo;</span></a>
		 			</li>
		 			<li>
		 				<a href="?page=0">1</a>
		 			</li>
		 			<li>
		 				<a href="?page=1">2</a>
		 			</li>
		 			<li>
		 				<a href="?page=2">3</a>
		 			</li>
		 			<li>
		 				<a href="#"><span>&laquo;</span></a>
		 			</li>
		 		</ul>
		 	
		 	</nav>
		 
		 </div>
			
   </div>
		
	
	
	
	</section>



</body>
</html>